<lux-tabs luxIconSize="2x" [luxLazyLoading]="true" (luxActiveTabChanged)="activeTabChanged($event)">
<% for(let entry of otherSchematics) { %>
  <lux-tab luxTitle="Title #<%= entry %>" luxIconName="lux-interface-setting-tool-box" <% if (counterVisible == true) { %>[luxCounter]="10" [luxCounterCap]="20"<% } %>
           luxTagIdHeader="Title #<%= entry %>-Header" luxTagIdContent="Title #<%= entry %>-Content">
    <ng-template>
<% if (entry != "text") { %>   
      <<%= shorthandSymbol %>-<%= dasherize(name) %>-<%= entry%>></<%= shorthandSymbol %>-<%= dasherize(name) %>-<%= entry%>>
<% } else { %>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
<% } %>
      </ng-template>
  </lux-tab>
<% } %> 
</lux-tabs>
