<lux-master-detail-ac
  luxEmptyIconMaster="lux-interface-delete-1"
  luxEmptyIconMasterSize="5x"
  luxEmptyLabelMaster="Keine Masterelemente gefunden!"
  luxEmptyIconDetail="lux-interface-delete-1"
  luxEmptyIconDetailSize="5x"
  luxEmptyLabelDetail="Kein Detail selektiert!"
  [luxMasterIsLoading]="masterIsLoading"
  [luxSelectedDetail]="masterSelected"
  [luxMasterList]="masterItems"
  (luxSelectedDetailChange)="loadDetail($event)"
  (luxScrolled)="loadFurtherEntries()"
  luxTagIdMaster="masterTagId"
  luxTagIdDetail="detailTagId" 
  >

  <lux-master-header-content-ac>
    
<% if (createWithFilter == true) { %>
    <lux-card luxTitle="Master Header">
      <lux-card-content>
        <lux-select-ac luxLabel="Ein Filter" [luxOptions]="options" [luxSelected]="options[0]" luxOptionLabelProp="label" (luxSelectedChange)="changeFilter($event)"></lux-select-ac>
      </lux-card-content>
    </lux-card>
<% } else { %>
  <lux-card luxTitle="Master Header"></lux-card>
<% } %>
  </lux-master-header-content-ac>

  <lux-master-list-ac luxTitleProp="title" luxSubTitleProp="subtitle">
    <!-- Zugriff auf jedes einzelne Master-Element ueber "master" -->
    <ng-template #luxSimpleIcon let-master>
      <lux-icon [luxIconName]="master.icon"></lux-icon>
    </ng-template>
    <ng-template #luxSimpleContent let-master>
      {{ master.content }}
    </ng-template>
  </lux-master-list-ac>

  <lux-detail-view-ac>
    <!-- Zugriff auf das aktuell selektierte Element ueber "detail" -->
    <ng-template let-detail>
      <lux-card [luxTitle]="detail.title">
        <lux-card-content>
          <p>{{ detail.content }}</p>
        </lux-card-content>
      </lux-card>
    </ng-template>
  </lux-detail-view-ac>

  <lux-master-footer-ac>
    <h2>Master Footer</h2>
  </lux-master-footer-ac>

</lux-master-detail-ac>
